@model IEnumerable<EdgarAparicio.PastesCatalina.Business.Entity.Paste>


@{
    Layout = "_Layout";
}

<h2>Pastes</h2>

@foreach (var paste in Model)
{
    <partial name="./_PartialViewListaPastes" model="paste" />
}

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo Paste</a>

@section footer{
    <div>Pastes Catalina 2020</div>
}