<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Library/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-page="/Index" class="navbar-brand">Fonda Catiuxca</a></li>
        <li><a asp-page="./Feedbacks/IndexFeedback">Comentarios</a></li>*@
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Pastes Catalina</a></li>
                    <li><a asp-controller="ComentariosHome" asp-action="Index">Comentarios</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
            <hr />
            <footer>
                @RenderSection("footer", required: false)
            </footer>

        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
